<div class="jobs-form">
    <% if flash[:alert].present? %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
        </div>
    <% end %>
    
    <%= form_with model: @job do |f| %>
        <%= f.file_field :file%>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>